.container{
    border:4px solid gray;
    border-radius: 6px;
    display:grid;
    width:950px;
    height:1500px;
    margin:auto;
    grid-template-columns: 950px auto;
    
    
}
.container1{
    padding-left:8px;
    padding-right:8px;
    /* border:3px solid black; */
    display:grid;
    grid-template-columns:70% 20%; 
    grid-template-rows: 15% auto;
   

}
.container2{
    display:grid;
    
    grid-template-columns: 580px 340px;
    grid-gap:15px;

}

.container3{
    /* border:3px solid gray; */

}
.container4{
    /* border:3px solid gray; */
}
.sub{
    width:65px;
    height:20px;
    /* border:2px solid gray; */
}
.blog{
    color:rgb(2, 175, 255);
    width:145px;
    height:50px;
    /* border:3px solid gray; */
    position:relative;
    right:300px;

}
.sample{
    color:rgb(2,175,255);
}
.date{
    position:relative;
    bottom:20px;
}
.para1{
    position:relative;
    bottom:30px;
}
.para2{
    position:relative;
    bottom:30px;  
}
.para3{
    position:relative;
    bottom:30px;  
}
.para4{
    position:relative;
    bottom:45px;   
}
.para5{
    position:relative;
    bottom:40px; 
}
.heading1{
    position:relative;
    bottom:40px; 
}
.subheading1{
    position:relative;
    bottom:40px; 
}
.google{
    color:royalblue
}
.back:hover{
    border:3px solid black;
    position:relative;
    top:5px;
    background-color: rgb(180, 245, 223);
    border-radius: 4px;

}

.back:visited{
    color:red;
    
}
.strong{
    border:2px solid black;
    position:relative;
    bottom:30px;
}
#search{
    position:relative;
    bottom:40px; 
    width:565px;
   
}
#search:hover{
    background-color:aqua;

}

/* about section is start*/
.hh{
    color:rgb(2,175,255);
    padding-left:10px;

}
.para{
    padding-left:10px;
}
.container5{
    font-style:italic;
    border:2px solid rgb(148, 243, 243);
    background-color: rgb(149, 247, 247);
}
.about{
    color:solid black;
    font-style:italic;
    padding:10px;

}
.headings{
    position:relative;
    bottom:25px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings2{
    position:relative;
    bottom:40px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings3{
    position:relative;
    bottom:50px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings4{
    position:relative;
    bottom:60px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings5{
    position:relative;
    bottom:70px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings6{
    position:relative;
    bottom:80px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings7{
    position:relative;
    bottom:90px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings8{
    position:relative;
    bottom:100px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}.headings9{
    position:relative;
    bottom:110px;
    padding-left:15px;
    color:rgb(47, 97, 245);
    font-style:italic

}
.headings:hover{
    font-style:inherit;
    color:red;
}

.headings1:hover{
    font-style:inherit;
    color:red;
}

.headings2:hover{
    font-style:inherit;
    color:red;
}
.headings3:hover{
    font-style:inherit;
    color:red;
}
.headings4:hover{
    font-style:inherit;
    color:red;
}
.headings5:hover{
    font-style:inherit;
    color:red;
}
.headings6:hover{
    font-style:inherit;
    color:red;
}
.headings7:hover{
    font-style:inherit;
    color:red;
}
.headings8:hover{
    font-style:inherit;
    color:red;
}
.headings9:hover{
    font-style:inherit;
    color:red;
}
.else{
    position:relative;
    bottom:110px;
    padding-left:10px;
    font-style:italic;

}
.social{
    color:royalblue;
    position:relative;
    bottom:120px;
    padding-left:15px;
}
.social1{
    color:royalblue;
    position:relative;
    bottom:135px;
    padding-left:15px;
}
.social2{
    color:royalblue;
    position:relative;
    bottom:145px;
    padding-left:15px;
}
.social:hover{
    background-color: greenyellow;
}
.social1:hover{
    background-color: greenyellow;
}
.social2:hover{
    background-color: greenyellow;
}
.social:visited{
    color:hotpink;
    background-color: aqua;
}